<div class="container">
    <h2>{{ project.id ? 'Editar Proyecto' : 'Nuevo Proyecto' }}</h2>
  
    <form (ngSubmit)="saveProject()">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input class="form-control" [(ngModel)]="project.name" name="name" required>
      </div>
      
      <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea class="form-control" [(ngModel)]="project.description" name="description" required></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary">{{ project.id ? 'Actualizar' : 'Guardar' }}</button>
      <a class="btn btn-secondary" [routerLink]="['/']">Cancelar</a>
    </form>
  </div>
  